virtual_hubs = {
  {{ virtual_hub }} = {
    virtual_wan = {
{% if connectivity_virtual_hub.virtual_hubs[virtual_hub].virtual_wan.lz_key is defined %}
      lz_key = "{{ tfstates.virtual_wan.lz_key_name }}"
{% endif %}
      key    = "{{ connectivity_virtual_hub.virtual_hubs[virtual_hub].virtual_wan.key }}"
    }

    resource_group = {
{% if connectivity_virtual_hub.virtual_hubs[virtual_hub].virtual_wan.lz_key is defined %}
      lz_key = "{{ tfstates.virtual_wan.lz_key_name }}"
{% endif %}
      key = "{{ connectivity_virtual_hub.virtual_hubs[virtual_hub].virtual_wan.key }}"
    }

    hub_name           = "{{ connectivity_virtual_hub.virtual_hubs[virtual_hub].name }}"
    region             = "{{ connectivity_virtual_hub.virtual_hubs[virtual_hub].region_key }}"
    hub_address_prefix = "{{ cidr[connectivity_virtual_hub.virtual_hubs[virtual_hub].region_key].connectivity.virtual_hubs[virtual_hub] }}"
    deploy_firewall    = false
    deploy_p2s         = false
    p2s_config         = {}
{% if connectivity_virtual_hub.virtual_hubs[virtual_hub].deploy_s2s  %}
    deploy_s2s         = true
    s2s_config         = {
      name       = "{{ connectivity_virtual_hub.virtual_hubs[virtual_hub].s2s_config.name }}" 
      scale_unit = {{ connectivity_virtual_hub.virtual_hubs[virtual_hub].s2s_config.scale_unit }}
    }
{% else %}
    deploy_s2s         = false
{% endif %}
{% if connectivity_virtual_hub.virtual_hubs[virtual_hub].deploy_er  %}
    deploy_er          = true
    er_config          = {
      name       = "{{ connectivity_virtual_hub.virtual_hubs[virtual_hub].er_config.name }}" 
      scale_unit = {{ connectivity_virtual_hub.virtual_hubs[virtual_hub].er_config.scale_unit }}
    }
{% else %}
    deploy_er          = false
{% endif %}
  }
}

