**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/*.tfplan
.DS_Store
**/terraform.tfstate.d
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
**/*.lock.hcl
**/~*.*
**/*.log
**/backend.azurerm.tf
public
aztfmod
landing_zone_aks
**/*.crt
**/*.csr
**/*.key
**/*.pem
**/*.cer
landing_zone_data_analytics
