**/.terraform
**/*.tfstate
**/*.tfplan
.DS_Store
**/terraform.tfstate.d
**/terraform.tfstate.backup
**/.terraform.tfstate.lock.info
**/~*.*
**/*.log
**/backend.azurerm.tf
public
aztfmod
landing_zone_aks
landing_zone_data_analytics