virtual_hub_subscription_id = "{{ platform_subscriptions_details.connectivity.subscription_id }}"
virtual_hub_tenant_id       = "{{ platform_subscriptions_details.connectivity.tenant_id }}"
virtual_hub_lz_key          = "{{ tfstates.virtual_hubs[asvm_connectivity.landingzone.remote_tfstates.platform.virtual_hub].lz_key_name }}"

virtual_network_subscription_id = "{{ asvm_subscriptions_details[asvm_folder].subscription_id }}"
virtual_network_tenant_id       = "{{ asvm_subscriptions_details[asvm_folder].tenant_id }}"

virtual_hub_connections = {
{% for key, vhc in asvm_connectivity.virtual_hub_connections.items() %}
  {{ key }} = {
    name = "{{ vhc.name }}"
    virtual_hub = {
      lz_key = "{{ vhc.virtual_hub.lz_key }}"
      key    = "{{ vhc.virtual_hub.key }}"
    }
    vnet = {
      lz_key   = "{{ vhc.vnet.lz_key }}"
      vnet_key = "{{ vhc.vnet.vnet_key }}"
    }
{% if vhc.routing is defined %}
    routing = {
{% if vhc.routing.virtual_hub_route_table %}
      virtual_hub_route_table = {
        lz_key = "{{ vhc.routing.virtual_hub_route_table.lz_key }}"
        key    = "{{ vhc.routing.virtual_hub_route_table.key }}"
      }
{% endif %}
{% if vhc.routing.propagated_route_table is defined %}
      propagated_route_table = {
        route_tables = {
{% for rt, rt_object in vhc.routing.propagated_route_table.route_tables.items() %}
          {{ rt }} = {
            lz_key = "{{ rt_object.lz_key }}"
            key    = "{{ rt_object.key }}"
          }
{% endfor %}
        }
{% if vhc.routing.propagated_route_table.labels is defined %}
        labels = {{ vhc.routing.propagated_route_table.labels | replace('\'','\"') }}
{% endif %}
      }
{% endif %}
    }
{% endif %}
  }
{% endfor %}
}