# Defines different repositories for the diagnostics logs
# Storage accounts, log analytics, event hubs

diagnostic_storage_accounts = {
{% for key in config.caf_terraform.launchpad.regions.keys() %}
  # Stores diagnostic logging for {{key}}
  diaglogs_{{key}} = {
    name                     = "diaglogs{{ config.caf_terraform.launchpad.regions[key].slug }}"
    region                   = "{{key}}"
    resource_group_key       = "mgmt"
    account_kind             = "StorageV2"
    account_tier             = "Standard"
    account_replication_type = "{{ config.caf_terraform.launchpad.account_replication_type }}"
    access_tier              = "Cool"
  }
{% endfor %}
{% for key in config.caf_terraform.launchpad.regions.keys() %}
  # Stores security logs for siem for {{key}}
  diagsiem_{{key}} = {
    name                     = "siem{{ config.caf_terraform.launchpad.regions[key].slug }}"
    region                   = "{{key}}"
    resource_group_key       = "mgmt"
    account_kind             = "StorageV2"
    account_tier             = "Standard"
    account_replication_type = "{{ config.caf_terraform.launchpad.account_replication_type }}"
    access_tier              = "Cool"
  }
{% endfor %}
{% for key in config.caf_terraform.launchpad.regions.keys() %}
  # Stores boot diagnostic for {{key}}
  bootdiag_{{key}} = {
    name                     = "boot{{ config.caf_terraform.launchpad.regions[key].slug }}"
    region                   = "{{key}}"
    resource_group_key       = "mgmt"
    account_kind             = "StorageV2"
    account_tier             = "Standard"
    account_replication_type = "{{ config.caf_terraform.launchpad.account_replication_type }}"
    access_tier              = "Cool"
  }
{% endfor %}
}