#
# Define the settings for log analytics workspace and solution map
#
diagnostic_log_analytics = {
{% for key, dla in level1.diagnostic_log_analytics.items() %}
  {{ key }} = {
    region             = "{{config.caf_terraform.launchpad.default_region_key}}"
    name               = "{{ dla.name }}"
    resource_group_key = "mgmt"
    # you can setup up to 5 key
    diagnostic_profiles = {
      central_logs_{{config.caf_terraform.launchpad.default_region_key}} = {
        definition_key   = "log_analytics"
        destination_type = "log_analytics"
        destination_key  = "central_logs"
      }
    }
    solutions_maps = {
      NetworkMonitoring = {
        "publisher" = "Microsoft"
        "product"   = "OMSGallery/NetworkMonitoring"
      },
      ADAssessment = {
        "publisher" = "Microsoft"
        "product"   = "OMSGallery/ADAssessment"
      },
      ADReplication = {
        "publisher" = "Microsoft"
        "product"   = "OMSGallery/ADReplication"
      },
      AgentHealthAssessment = {
        "publisher" = "Microsoft"
        "product"   = "OMSGallery/AgentHealthAssessment"
      },
      DnsAnalytics = {
        "publisher" = "Microsoft"
        "product"   = "OMSGallery/DnsAnalytics"
      },
      ContainerInsights = {
        "publisher" = "Microsoft"
        "product"   = "OMSGallery/ContainerInsights"
      },
      KeyVaultAnalytics = {
        "publisher" = "Microsoft"
        "product"   = "OMSGallery/KeyVaultAnalytics"
      }
    }
  }
{% endfor %}
}
