azuread_credentials = {
  level0 = {
    type                          = "password"
    azuread_credential_policy_key = "default_policy"

    azuread_application = {
      lz_key = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
      key    = "level0"
    }
    keyvaults = {
      cred_level0 = {
        secret_prefix = "sp"
        tenant_id     = "{{ config.caf_terraform.launchpad.tenant_id }}"
      }
    }
  }
  identity = {
    type                          = "password"
    azuread_credential_policy_key = "default_policy"

    azuread_application = {
      lz_key = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
      key    = "identity"
    }
    keyvaults = {
      cred_identity = {
        secret_prefix = "sp"
        tenant_id     = "{{ config.caf_terraform.launchpad.tenant_id }}"
      }
    }
  }
  management = {
    type                          = "password"
    azuread_credential_policy_key = "default_policy"

    azuread_application = {
      lz_key = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
      key    = "management"
    }
    keyvaults = {
      cred_management = {
        secret_prefix = "sp"
        tenant_id     = "{{ config.caf_terraform.launchpad.tenant_id }}"
      }
    }
  }
  eslz = {
    type                          = "password"
    azuread_credential_policy_key = "default_policy"

    azuread_application = {
      lz_key = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
      key    = "eslz"
    }
    keyvaults = {
      cred_eslz = {
        secret_prefix = "sp"
        tenant_id     = "{{ config.caf_terraform.launchpad.tenant_id }}"
      }
    }
  }
  connectivity = {
    type                          = "password"
    azuread_credential_policy_key = "default_policy"

    azuread_application = {
      lz_key = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
      key    = "connectivity"
    }
    keyvaults = {
      cred_connectivity = {
        secret_prefix = "sp"
        tenant_id     = "{{ config.caf_terraform.launchpad.tenant_id }}"
      }
    }
  }
  subscription_creation_platform = {
    type                          = "password"
    azuread_credential_policy_key = "default_policy"

    azuread_application = {
      lz_key = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
      key    = "subscription_creation_platform"
    }
    keyvaults = {
      cred_subscription_creation_platform = {
        secret_prefix = "sp"
        tenant_id     = "{{ config.caf_terraform.launchpad.tenant_id }}"
      }
    }
  }
  subscription_creation_landingzones = {
    type                          = "password"
    azuread_credential_policy_key = "default_policy"

    azuread_application = {
      lz_key = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
      key    = "subscription_creation_landingzones"
    }
    keyvaults = {
      cred_subscription_creation_landingzones = {
        secret_prefix = "sp"
        tenant_id     = "{{ config.caf_terraform.launchpad.tenant_id }}"
      }
    }
  }
}