
keyvaults = {

  cred_ea_account_owner = {
    name               = "{{ resources.subscriptions[subscription_key].keyvaults.cred_ea_account_owner.name }}"
    resource_group_key = "{{ resources.subscriptions[subscription_key].keyvaults.cred_ea_account_owner.resource_group_key}}"
    sku_name           = "{{ config.platform_core_setup.sku.keyvault }}"

    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
    }

  }

  cred_level0 = {
    name               = "{{ resources.subscriptions[subscription_key].keyvaults.cred_level0.name }}"
    resource_group_key = "{{ resources.subscriptions[subscription_key].keyvaults.cred_level0.resource_group_key}}"
    sku_name           = "{{ config.platform_core_setup.sku.keyvault }}"

    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      level0 = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "level0"
        secret_permissions = ["Get"]
      }
    }

  }

  cred_identity = {
    name               = "{{ resources.subscriptions[subscription_key].keyvaults.cred_identity.name }}"
    resource_group_key = "{{ resources.subscriptions[subscription_key].keyvaults.cred_identity.resource_group_key}}"
    sku_name           = "{{ config.platform_core_setup.sku.keyvault }}"

    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
    }

  }

  cred_management = {
    name               = "{{ resources.subscriptions[subscription_key].keyvaults.cred_management.name }}"
    resource_group_key = "{{ resources.subscriptions[subscription_key].keyvaults.cred_management.resource_group_key}}"
    sku_name           = "{{ config.platform_core_setup.sku.keyvault }}"

    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      management_azuread_group = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "management"
        secret_permissions = ["Get"]
      }
    }

  }

  cred_eslz = {
    name               = "{{ resources.subscriptions[subscription_key].keyvaults.cred_eslz.name }}"
    resource_group_key = "{{ resources.subscriptions[subscription_key].keyvaults.cred_eslz.resource_group_key}}"
    sku_name           = "{{ config.platform_core_setup.sku.keyvault }}"

    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      eslz_azuread_group = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "eslz"
        secret_permissions = ["Get"]
      }
    }

  }

  cred_connectivity = {
    name               = "{{ resources.subscriptions[subscription_key].keyvaults.cred_connectivity.name }}"
    resource_group_key = "{{ resources.subscriptions[subscription_key].keyvaults.cred_connectivity.resource_group_key}}"
    sku_name           = "{{ config.platform_core_setup.sku.keyvault }}"

    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      connectivity_azuread_group = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "connectivity"
        secret_permissions = ["Get"]
      }
    }

  }


  cred_subscription_creation_platform = {
    name               = "{{ resources.subscriptions[subscription_key].keyvaults.cred_subscription_creation_platform.name }}"
    resource_group_key = "{{ resources.subscriptions[subscription_key].keyvaults.cred_subscription_creation_platform.resource_group_key}}"
    sku_name           = "{{ config.platform_core_setup.sku.keyvault }}"

    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      subscription_creation_platform_azuread_group = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "subscription_creation_platform"
        secret_permissions = ["Get"]
      }
    }

  }

  cred_subscription_creation_landingzones = {
    name               = "{{ resources.subscriptions[subscription_key].keyvaults.cred_subscription_creation_landingzones.name }}"
    resource_group_key = "{{ resources.subscriptions[subscription_key].keyvaults.cred_subscription_creation_landingzones.resource_group_key}}"
    sku_name           = "{{ config.platform_core_setup.sku.keyvault }}"

    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      subscription_creation_platform_azuread_group = {
        lz_key             = "{{ config.tfstates.platform.launchpad.lz_key_name }}"
        azuread_group_key  = "subscription_creation_landingzones"
        secret_permissions = ["Get"]
      }
    }

  }

}

