
keyvaults = {

  cred_ea_account_owner = {
    name               = "eaowner"
    resource_group_key = "sp_credentials"
    sku_name           = "{{ config.platform_core_setup.sku.keyvault }}"

    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
    }

  }

  cred_level0 = {
    name               = "idl0"
    resource_group_key = "sp_credentials"
    sku_name           = "{{ config.platform_core_setup.sku.keyvault }}"

    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      level0 = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "level0"
        secret_permissions = ["Get"]
      }
    }

  }

  cred_identity = {
    name               = "id"
    resource_group_key = "sp_credentials"
    sku_name           = "{{ config.platform_core_setup.sku.keyvault }}"

    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
    }

  }

  cred_management = {
    name               = "mg"
    resource_group_key = "sp_credentials"
    sku_name           = "{{ config.platform_core_setup.sku.keyvault }}"

    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      management_azuread_group = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "management"
        secret_permissions = ["Get"]
      }
    }

  }

  cred_eslz = {
    name               = "es"
    resource_group_key = "sp_credentials"
    sku_name           = "{{ config.platform_core_setup.sku.keyvault }}"

    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      eslz_azuread_group = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "eslz"
        secret_permissions = ["Get"]
      }
    }

  }

  cred_connectivity = {
    name               = "co"
    resource_group_key = "sp_credentials"
    sku_name           = "{{ config.platform_core_setup.sku.keyvault }}"

    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      connectivity_azuread_group = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "connectivity"
        secret_permissions = ["Get"]
      }
    }

  }


  cred_subscription_creation_platform = {
    name               = "scp"
    resource_group_key = "sp_credentials"
    sku_name           = "{{ config.platform_core_setup.sku.keyvault }}"

    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      subscription_creation_platform_azuread_group = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "subscription_creation_platform"
        secret_permissions = ["Get"]
      }
    }

  }

  cred_subscription_creation_landingzones = {
    name               = "scl"
    resource_group_key = "sp_credentials"
    sku_name           = "{{ config.platform_core_setup.sku.keyvault }}"

    creation_policies = {
      caf_platform_maintainers = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "caf_platform_maintainers"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      identity_azuread_group = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "identity"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
      subscription_creation_platform_azuread_group = {
        lz_key             = "{{ tfstates.launchpad.lz_key_name }}"
        azuread_group_key  = "subscription_creation_landingzones"
        secret_permissions = ["Get"]
      }
    }

  }

}

