library_path                    = "../../../../{{ config.destination_relative_base_path }}/{{ level }}/eslz/lib"
root_id                         = "{{ config.eslz.root_id }}"
root_name                       = "{{ config.eslz.root_name }}"
deploy_core_landing_zones       = {{ config.eslz.deploy_core_landing_zones }}