landingzone = {
  backend_type        = "azurerm"
  global_settings_key = "{{ tfstates.launchpad.lz_key_name }}"
  level               = "level1"
  key                 = "eslz"
  tfstates = {
    {{ tfstates.management.lz_key_name }} = {
      level   = "current"
      tfstate = "{{ tfstates.management.tfstate }}"
    }
    {{ tfstates.launchpad.lz_key_name }} = {
      level   = "lower"
      tfstate = "{{ tfstates.launchpad.tfstate }}"
    }
  }
}
