{% if asvm_resources.custom_role_definitions is defined %}
custom_role_definitions = {

{% for key, crd in asvm_resources.custom_role_definitions.items() %}
  {{ key }} = {
    name        = "{{ crd.name }}"
    description = "{{ crd.description }}"
    permissions = {
      actions = [
{% for action in crd.permissions.actions %}
        "{{ action }}",
{% endfor %}
      ]
      not_actions = [
{% for not_action in crd.permissions.not_actions %}
        "{{ not_action }}",
{% endfor %}
      ]
    }
  }
{% endfor %}

}
{% endif %}
