landingzone = {
  backend_type        = "azurerm"
  global_settings_key = "{{ tfstates_asvm[asvm_folder].subscription.lz_key_name }}"
  level               = "{{ tfstates_asvm[asvm_folder].level }}"
  key                 = "{{ tfstates_asvm[asvm_folder].resources.lz_key_name }}"
  tfstates = {
    {{  tfstates_asvm[asvm_folder].subscription.lz_key_name }} = {
      tfstate   = "{{ tfstates_asvm[asvm_folder].subscription.tfstate }}"
      workspace = "{{ tfstates_asvm[asvm_folder].workspace }}"
    }
    {{ tfstates.virtual_hubs[asvm_resources.landingzone.remote_tfstates.platform.virtual_hub].lz_key_name }} = {
      tfstate   = "{{ tfstates.virtual_hubs[asvm_resources.landingzone.remote_tfstates.platform.virtual_hub].tfstate }}"
      level     = "lower"
      workspace = "{{ tfstates.virtual_hubs[asvm_resources.landingzone.remote_tfstates.platform.virtual_hub].workspace }}"
    }
  }
}
