
role_mapping = {
  custom_role_mapping = {
{% for key, role_mappings in asvm_resources.role_mapping.custom_role_mapping.items() %}
    {{ key }} = {
      project1 = {
        lz_key = "project1"
        "asvm_project1_LZContributors" = {
          azuread_service_principals = {
            keys = [ "asvm_project1_LZContributors" ]
          }
        }
      }
    }
{% endfor %}
  }
}
