landingzone = {
  backend_type        = "azurerm"
  global_settings_key = "{{ tfstates.launchpad.lz_key_name }}"
  level               = "{{ tfstates.bootstrap.level }}"
  key                 = "{{ tfstates.bootstrap.lz_key_name }}"
  tfstates = {
    {{ tfstates.launchpad.lz_key_name }} = {
      level   = "lower"
      tfstate = "{{ tfstates.launchpad.tfstate }}"
    }
  }
}
