azurerm_firewall_policies = {
{% for key, policy in connectivity_firewall.azurerm_firewall_policies.items() %}
  {{ key }} = {
    name   = "{{ policy.name }}"
{% if policy.region_key is defined %}
    region = "{{ policy.region_key }}"
{% endif %}
{% if policy.sku is defined %}
    sku    = "{{ policy.sku }}"
{% endif %}
    resource_group = {
      key    = "{{ policy.resource_group.key }}"
{% if policy.resource_group.lz_key is defined %}
      lz_key = "{{ policy.resource_group.lz_key }}"
{% endif %}
    }
{% if policy.base_policy is defined %}
    base_policy    = {
      key    = "{{ policy.base_policy.key }}"
{% if policy.resource_group.lz_key is defined %}
      lz_key = "{{ policy.base_policy.lz_key }}"
{% endif %}
    }
{% endif %}
{% if policy.dns is defined %}
    dns = {
{% if policy.dns.servers is defined %}
      servers       = "{{ policy.dns.servers }}"
{% endif %}
{% if policy.dns.proxy_enabled is defined %}
      proxy_enabled = "{{ policy.dns.proxy_enabled }}"
{% endif %}
{% if policy.resource_group.lz_key is defined %}
      lz_key = "{{ policy.base_policy.lz_key }}"
{% endif %}
    }
{% endif %}
{% if policy.threat_intelligence_mode is defined %}
    threat_intelligence_mode = "{{ policy.threat_intelligence_mode }}"
{% endif %}
{% if policy.threat_intelligence_allowlist is defined %}
    threat_intelligence_allowlist = {
{% if policy.threat_intelligence_allowlist.ip_addresses is defined %}
      ip_addresses = {{ policy.threat_intelligence_allowlist.ip_addresses | replace('None','[]') | replace('\'','\"') }}
{% endif %}
{% if policy.threat_intelligence_allowlist.fqdns is defined %}
      fqdns = {{ policy.threat_intelligence_allowlist.fqdns | replace('None','[]') | replace('\'','\"') }}
{% endif %}
    }
{% endif %}
  }
{% endfor %}
}
