virtual_hubs = {
{% for key, hub in connectivity.virtual_hubs.items() %}
  {{ key }} = {
    virtual_wan = {
      # lz_key = "" # for remote deployment
      key = "{{ hub.virtual_wan_key }}"
    }

    resource_group = {
      # lz_key = "" # for remote deployment
      key = "{{ connectivity.virtual_wans[hub.virtual_wan_key].resource_group_key }}"
    }

    hub_name           = "{{ hub.name }}"
    region             = "{{ hub.region_key }}"
    hub_address_prefix = "{{ cidr[hub.region_key].connectivity.virtual_hubs[key] }}"
    deploy_firewall    = false
    deploy_p2s         = false
    p2s_config         = {}
    deploy_s2s         = false
    s2s_config         = {}
    deploy_er          = false
  }
{% endfor %}
}

