azurerm_firewall_policies = {
  {{ firewall_policy }} = {
    name   = "{{ connectivity_firewall_policies[firewall_policy].name }}"
{% if connectivity_firewall_policies[firewall_policy].region_key is defined %}
    region = "{{ connectivity_firewall_policies[firewall_policy].region_key }}"
{% endif %}
{% if connectivity_firewall_policies[firewall_policy].sku is defined %}
    sku    = "{{ connectivity_firewall_policies[firewall_policy].sku }}"
{% endif %}
    resource_group = {
      key    = "{{ connectivity_firewall_policies[firewall_policy].resource_group.key }}"
{% if connectivity_firewall_policies[firewall_policy].resource_group.lz_key is defined %}
      lz_key = "{{ config.tfstates.platform.firewall_policies[connectivity_firewall_policies[firewall_policy].resource_group.lz_key].lz_key_name }}"
{% endif %}
    }
{% if connectivity_firewall_policies[firewall_policy].base_policy is defined %}
    base_policy    = {
      key    = "{{ connectivity_firewall_policies[firewall_policy].base_policy.key }}"
{% if connectivity_firewall_policies[firewall_policy].resource_group.lz_key is defined %}
      lz_key = "{{ config.tfstates.platform.firewall_policies[connectivity_firewall_policies[firewall_policy].resource_group.lz_key].lz_key_name }}"
{% endif %}
    }
{% endif %}
{% if connectivity_firewall_policies[firewall_policy].dns is defined %}
    dns = {
{% if connectivity_firewall_policies[firewall_policy].dns.servers is defined %}
      servers       = "{{ connectivity_firewall_policies[firewall_policy].dns.servers }}"
{% endif %}
{% if connectivity_firewall_policies[firewall_policy].dns.proxy_enabled is defined %}
      proxy_enabled = "{{ connectivity_firewall_policies[firewall_policy].dns.proxy_enabled }}"
{% endif %}
    }
{% endif %}
{% if connectivity_firewall_policies[firewall_policy].threat_intelligence_mode is defined %}
    threat_intelligence_mode = "{{ connectivity_firewall_policies[firewall_policy].threat_intelligence_mode }}"
{% endif %}
{% if connectivity_firewall_policies[firewall_policy].threat_intelligence_allowlist is defined %}
    threat_intelligence_allowlist = {
{% if connectivity_firewall_policies[firewall_policy].threat_intelligence_allowlist.ip_addresses is defined %}
      ip_addresses = {{ connectivity_firewall_policies[firewall_policy].threat_intelligence_allowlist.ip_addresses | replace('None','[]') | replace('\'','\"') }}
{% endif %}
{% if connectivity_firewall_policies[firewall_policy].threat_intelligence_allowlist.fqdns is defined %}
      fqdns = {{ connectivity_firewall_policies[firewall_policy].threat_intelligence_allowlist.fqdns | replace('None','[]') | replace('\'','\"') }}
{% endif %}
    }
{% endif %}
  }
}
