landingzone = {
  backend_type        = "azurerm"
  global_settings_key = "{{ config.tfstates.platform.management.lz_key_name }}"
  level               = "level2"
  key                 = "{{ config.tfstates.platform.firewall_policies[firewall_policy].lz_key_name }}"
  tfstates = {
    {{ config.tfstates.platform.management.lz_key_name }} = {
      level   = "lower"
      tfstate = "{{ config.tfstates.platform.management.tfstate }}"
    }
{% if connectivity_firewall_policies[firewall_policy].resource_group.lz_key is defined  %}
    {{ config.tfstates.platform.firewall_policies[connectivity_firewall_policies[firewall_policy].resource_group.lz_key].lz_key_name }} = {
      level   = "current"
      tfstate = "{{ config.tfstates.platform.firewall_policies[connectivity_firewall_policies[firewall_policy].resource_group.lz_key].tfstate }}"
    }
{% endif %}
  }
}