keyvaults = {
{% for key, resource_group in resources.subscriptions[subscription_key].keyvaults.items() %}
  {{ key }} = {
    name               = "{{ resources.subscriptions[subscription_key].keyvaults[key].name }}"
    resource_group_key = "{{ resources.subscriptions[subscription_key].keyvaults[key].resource_group_key }}"
    sku_name           = "{{ resources.subscriptions[subscription_key].keyvaults[key].sku_name | default('standard')}}"
    
    creation_policies = {
{% if config.platform_identity is defined %}
{% if config.platform_identity.azuread_identity_mode != 'logged_in_user' %}
      logged_in_user = {
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
{% endif %}
{% endif %}
{% if resources.subscriptions[subscription_key].azuread_service_principals is defined %}
{% for sp_key, sp in resources.subscriptions[subscription_key].azuread_service_principals.items() %}
      {{ sp_key }} = {
        service_principal_key  = "{{ sp_key }}"
        secret_permissions = ["Get"]
      }
{% endfor %}
{% endif %}
    }
  }
{% endfor %}
}
