landingzone = {
  backend_type        = "azurerm"
  global_settings_key = "{{ tfstates.management.lz_key_name }}"
  level               = "{{ tfstates.express_route_circuits[circuit].level }}"
  key                 = "{{ tfstates.express_route_circuits[circuit].lz_key_name }}"
  tfstates = {
    {{ tfstates.management.lz_key_name }} = {
      level   = "lower"
      tfstate = "{{ tfstates.management.tfstate }}"
    }
  }
}
