#
# Execute the following command to get the billing_account_name and management_group_id
#
# az rest --method get --uri https://management.azure.com/providers/Microsoft.Billing/billingaccounts/?api-version=2020-05-01
#
# To retrieve the first billing account
#
# billing_account_name=$(az rest --method get --uri https://management.azure.com/providers/Microsoft.Billing/billingaccounts?api-version=2020-05-01 --query "value[?properties.agreementType=='EnterpriseAgreement'].{name:name}" -o tsv)
#
# enrollment_account_name=$(az rest --method get --uri https://management.azure.com/providers/Microsoft.Billing/billingaccounts?api-version=2020-05-01 --query "value[?properties.agreementType=='EnterpriseAgreement'].{name:properties.enrollmentAccounts[0].name}" -o tsv)
#

subscriptions = {

  # Platform Subscriptions
{% if config.subscription_creation %}
  management = {
    name                    = "management"
    billing_account_name    = "{{ config.billing_subscription_role_delegations.billing_account_name }}"
    enrollment_account_name = "{{ config.billing_subscription_role_delegations.enrollment_account_name }}"
    workload                = "Production"
  }
  connectivity = {
    name                    = "connectivity"
    billing_account_name    = "{{ config.billing_subscription_role_delegations.billing_account_name }}"
    enrollment_account_name = "{{ config.billing_subscription_role_delegations.enrollment_account_name }}"
    workload                = "Production"
  }
  identity = {
    name                    = "identity"
    billing_account_name    = "{{ config.billing_subscription_role_delegations.billing_account_name }}"
    enrollment_account_name = "{{ config.billing_subscription_role_delegations.enrollment_account_name }}"
    workload                = "Production"
  }
{% endif %}
}