
keyvaults = {
  level0 = {
    name               = "l0"
    resource_group_key = "level0"
    sku_name           = "{{ config.sku.keyvault}}"
    tags = {
      tfstate         = "level0"
      environment     = "{{ config.launchpad.caf_environment }}"
      caf_tfstate     = "level0"
      caf_environment = "{{ config.launchpad.caf_environment }}"
    }

    creation_policies = {
{% if config.scenario.name != 'demo' %}
      caf_launchpad_maintainer = {
        azuread_group_key  = "caf_launchpad_maintainer"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
{% endif %}
{% if config.scenario.deployment_mode == 'interactive' %}
      logged_in_user = {
        # if the key is set to "logged_in_user" add the user running terraform in the keyvault policy
        # More examples in /examples/keyvault
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
{% endif %}
    }

  }

  level1 = {
    name               = "l1"
    resource_group_key = "level1"
    sku_name           = "{{ config.sku.keyvault}}"
    tags = {
      tfstate         = "level1"
      environment     = "{{ config.launchpad.caf_environment }}"
      caf_tfstate     = "level1"
      caf_environment = "{{ config.launchpad.caf_environment }}"
    }

    creation_policies = {
{% if config.scenario.name != 'demo' %}
      caf_launchpad_maintainer = {
        azuread_group_key  = "caf_launchpad_maintainer"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
{% endif %}
{% if config.scenario.deployment_mode == 'interactive' %}
      logged_in_user = {
        # if the key is set to "logged_in_user" add the user running terraform in the keyvault policy
        # More examples in /examples/keyvault
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
{% endif %}
    }

  }

  level2 = {
    name               = "l2"
    resource_group_key = "level2"
    sku_name           = "{{ config.sku.keyvault}}"
    tags = {
      tfstate         = "level2"
      environment     = "{{ config.launchpad.caf_environment }}"
      caf_tfstate     = "level2"
      caf_environment = "{{ config.launchpad.caf_environment }}"
    }

    creation_policies = {
{% if config.scenario.name != 'demo' %}
      caf_launchpad_maintainer = {
        azuread_group_key  = "caf_launchpad_maintainer"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
{% endif %}
{% if config.scenario.deployment_mode == 'interactive' %}
      logged_in_user = {
        # if the key is set to "logged_in_user" add the user running terraform in the keyvault policy
        # More examples in /examples/keyvault
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
{% endif %}
    }

  }

  level3 = {
    name               = "l3"
    resource_group_key = "level3"
    sku_name           = "{{ config.sku.keyvault}}"
    tags = {
      tfstate         = "level3"
      environment     = "{{ config.launchpad.caf_environment }}"
      caf_tfstate     = "level3"
      caf_environment = "{{ config.launchpad.caf_environment }}"
    }

    creation_policies = {
{% if config.scenario.name != 'demo' %}
      caf_launchpad_maintainer = {
        azuread_group_key  = "caf_launchpad_maintainer"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
{% endif %}
{% if config.scenario.deployment_mode == 'interactive' %}
      logged_in_user = {
        # if the key is set to "logged_in_user" add the user running terraform in the keyvault policy
        # More examples in /examples/keyvault
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
{% endif %}
    }

  }

  level4 = {
    name               = "l4"
    resource_group_key = "level4"
    sku_name           = "{{ config.sku.keyvault}}"
    tags = {
      tfstate         = "level4"
      environment     = "{{ config.launchpad.caf_environment }}"
      caf_tfstate     = "level4"
      caf_environment = "{{ config.launchpad.caf_environment }}"
    }

    creation_policies = {
{% if config.scenario.name != 'demo' %}
      caf_launchpad_maintainer = {
        azuread_group_key  = "caf_launchpad_maintainer"
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
{% endif %}
{% if config.scenario.deployment_mode == 'interactive' %}
      logged_in_user = {
        # if the key is set to "logged_in_user" add the user running terraform in the keyvault policy
        # More examples in /examples/keyvault
        secret_permissions = ["Set", "Get", "List", "Delete", "Purge", "Recover"]
      }
{% endif %}
    }

  }

}
