landingzone = {
  backend_type = "{{ caf_terraform.launchpad.backend_type | default("azurerm")}}"
  level        = "{{ tfstates.launchpad.level }}"
  key          = "{{ tfstates.launchpad.lz_key_name }}"
}