landingzone = {
  backend_type        = "azurerm"
{% if asvm_subscription.landingzone.remote_tfstates.platform.management %}
  global_settings_key = "{{ tfstates.management[asvm_subscription.landingzone.remote_tfstates.platform.management].lz_key_name }}"
{% endif %}
  level               = "{{ tfstates_asvm[asvm_folder].level }}"
  key                 = "{{ tfstates_asvm[asvm_folder].subscription.lz_key_name }}"
  tfstates = {
{% if asvm_subscription.landingzone.remote_tfstates.platform.management %}
    {{ tfstates.management[asvm_subscription.landingzone.remote_tfstates.platform.platform].lz_key_name }} = {
      level     = "lower"
      tfstate   = "{{ tfstates.management[asvm_subscription.landingzone.remote_tfstates.platform.management].tfstate }}"
      workspace = "{{ tfstates.management[asvm_subscription.landingzone.remote_tfstates.platform.management].workspace }}"
    }
{% endif %}
  }
}
