landingzone = {
  backend_type        = "azurerm"
  global_settings_key = "launchpad"
  level               = "level0"
  key                 = "{{ config.tfstates.billing_subscription_role_delegations.lz_key_name }}"
  tfstates = {
    {{ config.tfstates.launchpad.lz_key_name }} = {
      level   = "current"
      tfstate = "{{ config.tfstates.launchpad.tfstate }}"
    }
  }
}
