azuread_service_principals = {

{% for key, sp in asvm_resources.azuread_service_principals.items() %}
  {{ key }} = {
    azuread_application = {
      key = "{{ sp.azuread_application.key }}"
    }
  }
{% endfor %}
}